/* Header */
/* Left side */

.header {
  padding: 3rem 0;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: var(--font-family-raleway);
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 1;
}
.header::before {
  content: "";
  position: absolute;

  height: 100%;
  width: 100vw;
  background-color: var(--color-background);
  /* viewport width */
  border-bottom: 0.1rem solid var(--color-input-border);
  z-index: -1;
  top: 0;
}
.navigation {
  transition: var(--transition-timing);
}
.navigation__list {
  display: flex;
  gap: 2rem;
}

.navigation__link:link,
.navigation__link:visited {
  text-decoration: none;
  font-weight: var(--font-weight-medium);
}
.navigation__link:hover,
.navigation__link:active {
  text-decoration: underline;
  color: var(--color-text);
}
.container:has(#bio:target) .navigation__bio,
.container:has(#skills:target) .navigation__skills,
.container:has(#media:target) .navigation__media,
.container:has(#projects:target) .navigation__projects,
.container:has(#clients:target) .navigation__clients,
.container:has(#contact:target) .navigation__contact {
  color: var(--color-blue);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
}
.burger-menu__checkbox {
  display: none;
}

/* Right side */
/* Toggle */
.toggle {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.toggle__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}
.toggle__checkbox {
  display: none;
}
.toggle__label {
  display: block;
  background-color: var(--color-black);
  width: 4.5rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.toggle__label::after {
  display: block;
  content: "";
  background-color: var(--color-background);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  position: absolute;
  transition: 0.3s;
}

.toggle__checkbox:checked + .toggle__label {
  background-color: var(--color-white);
}
.toggle__checkbox:checked + .toggle__label::after {
  transform: translateX(2.1rem);
  background-color: var(--color-green);
}
/* End Toggle */
