/* Projects */
@import "./mixins";
.projects__main {
  display: grid;
  @include twoColumns($column-gap: 7.4rem, $row-gap: 7.5rem);
}
.projects__img {
  width: 700px;
  max-width: 100%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}
.projects__data {
  align-self: center;
}
.projects__description {
  line-height: 1.5;
}
.projects__links {
  color: var(--color-darker-blue);
  font-weight: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  margin-top: 2.3rem;
}
.projects__links::after {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url(./images/external-icon.png);
  background-size: contain;
  margin-left: 0.6rem;
}

/* End Projects */
