/* Theme */
html:has(.toggle__checkbox:checked) {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --color-box-img: var(--color-green);
  --color-link-bg: var(--color-green);
  --color-grey: #080808;
  --color-input-border: var(--color-white);
  --color-social-icon: var(--color-white);
  --color-social-hover: #03a696;
}

/* End Theme */
